* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
}

#nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px 65px;
}

#nav-part1 {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

#nav-part2 {
  display: flex;
  justify-content: space-between;
  width: 35%;
}

#nav h3 {
  font-size: 21px;
  font-weight: 600;
}

#nav h2 {
  font-size: 25px;
  font-weight: 600;
}

#nav h4 {
  font-size: 21px;
  font-weight: 600;
}

#content {
  margin-top: 60px;
  padding: 40px 65px;
}

#content h3 {
  font-size: 30px;
  font-weight: 400;
}

#content h1 {
  font-size: 100px;
  font-weight: 450;
  letter-spacing: -6px;
  line-height: 120px;
  word-spacing: 7px;
}

#case {
  padding: 40px 65px;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#case h4 {
  font-size: 25px;
  font-weight: 500;
}

#case h5 {
  font-size: 20px;
  font-weight: 500;
}

#right {
  display: flex;
  align-items: center;
  gap: 40px;
}

#line {
  height: 2px;
  width: 100px;
  background-color: black;
}

#projects {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 65px;
  gap: 120px;
}

.elem {
  width: 50%;
}

.elem-img {
  height: 780px;
  width: 100%;
  background-color: rgb(197, 248, 231);
  border-radius: 30px;
  background-size: cover;
}

#img1 {
  background-image: url("https://pagedone.io/asset/uploads/1707480017.png");
  background-position: center;
}

#img2 {
  background-image: url("https://cdn.dribbble.com/userupload/4292611/file/original-e7d090ac17d0aba4c58093a0f4247bb1.png?resize=1024x768");
  background-position: center;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}

.bottom i {
  padding: 15px 30px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 50px;
}

.bottom i:hover {
  background-color: black;
  color: white;
}

.bottom h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

.bottom h4 {
  font-size: 20px;
  font-weight: 400;
  color: rgb(87, 83, 83);
}
